<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Test</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">

</head>

<body>

    <header>
        <div class="">
            Logo
        </div>
        <div class="">
            navigation
        </div>
    </header>

    <main>
        <section>
            <form class="" onsubmit="return Client.handleSubmit(event)">
                <input id="testlink" type="url" required name="input" value="" placeholder="add the url you want feedback on">
                <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return handleSubmit(event)">
            </form>
            <section>
                <section>
                    <div id="error">
                    </div>
                    <div id="loader">
                        Loading...
                    </div>
                    <div id="results">
                        <h3>Article</h3>
                        <p id="link_text"></p>
                        <h3>Language of Article</h3>
                        <p id="link_ln"></p>
                        <h3>Category</h3>
                        <p id="category"></p>
                    </div>
                </section>
    </main>

    <footer>
        <p>This is a footer</p>
    </footer>
    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            //Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>

</body>

</html>