body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(50px, auto);
    grid-template-areas: 'hd' 'main' 'ft';
    main {
        grid-area: 'main';
    }
    section {
        max-width: 800px;
        margin: 50px auto;
    }
}